.env
/vendor/
/writable/logs/*
/writable/cache/*
/writable/session/*
/writable/uploads/*
!/writable/logs/index.html
!/writable/cache/index.html
!/writable/session/index.html
!/writable/uploads/index.html
.phpunit.result.cache
phpunit.xml
*.log
.DS_Store
Thumbs.db
